<h5>フォロー一覧</h5>
<% if @users_followings.exists? %>
  <% @users_followings.each do |user| %>
      <a><%=link_to user.nick_name, user_path(user.id) %></a><br>
      <a>フォロー数： <%= user.followings.count %></a><br>
      <a>フォロワー数： <%= user.followers.count %></a><br>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
<h5>フォロワー一覧</h5>
<% if @users_followers.exists? %>
  <% @users_followers.each do |user| %>
      <a><%=link_to user.nick_name, user_path(user.id) %></a><br>
      <a>フォロー数： <%= user.followings.count %></a><br>
      <a>フォロワー数： <%= user.followers.count %></a><br>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>