<h5>フォロー一覧</h5>
<% if @users_followings.exists? %>
  <% @users_followings.each do |user| %>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= user.nick_name %></td><br>
          <td>フォロー数： <%= user.followings.count %></td>
          <td>フォロワー数： <%= user.followers.count %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
<h5>フォロワー一覧</h5>
<% if @users_followers.exists? %>
  <% @users_followers.each do |user| %>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= user.nick_name %></td><br>
          <td>フォロー数： <%= user.followings.count %></td>
          <td>フォロワー数： <%= user.followers.count %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>