<div class="container">
  <h2>会員情報変更</h2>
  
  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  
  <%= form_with model: @user do |f| %>
    <label for="inputImage">プロフィール画像</label><br>
    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
    
    <h5>ニックネーム</h5>
    <%= f.text_field :nick_name %>
    
    <%= f.submit "変更を保存",class: 'btn btn-outline-warning' %>
  <% end %>
</div>