<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="text-center"><h2>マイページ</h2></div>
  <div class="row">
    <div class="col-sm-3">
    <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
    </div>
    <div class="col-sm-9">
      <h4>ニックネーム：<%= @user.nick_name %></h4>
      <% unless @user.guest_user? || current_user.nil? || @user.id != current_user.id %>
        <a class="nav-item mr-3 btn btn-outline-warning" href="<%= edit_user_path(current_user.id) %>">編集</a>
        <a class="nav-item mr-3 btn btn-outline-warning" href="<%= unsubscribe_path(current_user) %>">退会</a>
        <a class="nav-item mr-3 btn btn-outline-warning" href="<%= notifications_path(current_user) %>">通知</a>
      <% end %>
    </div>
    <% unless @user.id == current_user.id %>
      <% if (current_user.following? @user) && (@user.following? current_user) %>
      <% if @isRoom == true %>
        <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-outline-warning btn-sm">DMへ</a></p>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "メッセージを送る", class:"btn btn-outline-warning btn-sm user-show-chat" %>
        <% end %>
      <% end %>
      <% end %>
    <% end %>
    <h5>フォロー</h5>
      <p><%= @user.followings.count %></p><span style="margin-right: 10px;"></span>
    <h5>フォロワー</h5>
      <p><%= @user.followers.count %></p><span style="margin-right: 10px;"></span>
      <p><%= render "relationships/btn", user: @user, options: { class: "follow-link" } %></p>
  </div>
  <div class="row justify-content-center">
  <% @posts.each do |post| %>
    <div>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image, class: "rounded-circle", style: "width: 200px; height: 200px;" %>
      <% end %>
      <p><%= post.title %></p>
    </div>
  <% end %>
  </div>
  <div class="text-center"><h4>いいね一覧</h4></div>
  <div class="row justify-content-center">
    <% @like_posts.each do |post| %>
      <div>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image, class: "rounded-circle", style: "width: 200px; height: 200px;" %>
        <% end %>
        <p><%= post.title %></p>
      </div>
    <% end %>
  </div>

  <p><%= render "relationships/follow_list", user: @user %></p>
</div>