<h1>マイページ</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>ニックネーム：<%= @user.nick_name %></h3>
  <p><%= link_to "編集", edit_user_path(current_user.id) %></p>
  
</div>

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p><%= post.title %></p>
</div>
<% end %>