      <li>
        <a class="link-light mr-3 btn btn-outline-warning" href="<%= posts_life_path %>">LIFE</a>
      </li>
      <li>
        <a class="link-light mr-3 btn btn-outline-warning" href="<%= posts_cook_path %>">COOK</a>
      </li>
      <li>
        <a class="link-light mr-3 btn btn-outline-warning" href="<%= posts_toy_path %>">TOY</a>
      </li>
<h1>新着投稿</h1>
<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    <%= post.title %>
  </div>
<% end %>
