<body>
<div>
  <%= flash[:notice] %>
</div>
<div class="container">
    <ul class="d-flex justify-content-center list-unstyled m-4">
      <li>
        <a class="link-light mr-3 btn btn-outline-warning btn-lg rounded-circle" href="<%= posts_path(category: "life") %>">LIFE</a>
      </li>
      <li>
        <a class="link-light mr-3 btn btn-outline-warning btn-lg rounded-circle" href="<%= posts_path(category: "cook") %>">COOK</a>
      </li>
      <li>
        <a class="link-light mr-3 btn btn-outline-warning btn-lg rounded-circle" href="<%= posts_path(category: "toy") %>">TOY</a>
      </li>
    </ul>
</div>
  <div class="text-center"><h3>新着投稿</h3></div>
  <div class="row justify-content-left ">
      <% @posts.each do |post| %>
        <div class="col-4 text-center">
        <div>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image, class: "rounded-circle", style: "width: 200px; height: 200px;" %>
          <% end %>
          <h5><%= post.title %></h5>
        </div>
        </div>
      <%end %>
  </div>
</body>