<div class="container">
<div class="card-list-container py-5">
  <h1>投稿詳細</h1>
    <div class="card  mx-auto mt-4 shadow-lg">
      <div class="card-body">
        <div class="row">
            <%= image_tag @posts.get_image, class: "col-3", style:"object-fit: contain;" %>
            <div class="col-9">
              <p class="card-title">
                <%= @posts.title %>
              </p>
              <p class="card-text">
                <%=safe_join(@posts.body.split("\n"),tag(:br))%>
              </p>
              <%= link_to @posts.user.nick_name, user_path(@posts.user.id), style:"margin-right: 10px;" %>
            </div>
            <%= @posts.created_at.strftime('%Y/%m/%d')%>
            <% if @posts.user == current_user %><span style="margin-right: 10px;"></span>
              <%= link_to "編集", edit_post_path(@posts.id), style:"margin-right: 10px;" %>
              <%= link_to "削除", post_path(@posts), method: :delete, "data-confirm" => "本当に削除しますか？", style:"margin-right: 10px;" %>
            <% end %>
            <% if @posts.liked?(current_user) %>
              <p>
                <%= link_to post_likes_path(@posts), method: :delete do %>
                 <span style="color:red;">♥<%= @posts.likes.count %></span>
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to post_likes_path(@posts), method: :post do %>
                  ♡<%= @posts.likes.count %>
                <% end %>
              </p>
            <% end %>
        </div>
      </div>
    </div>
</div>
<div>
  <p>コメント件数：<%= @posts.comments.count %></p>
  <% @posts.comments.each do |comment| %>
    <%= comment.comment %>
    <p><%= image_tag comment.user.get_profile_image(30,30) %></p>
    <p><%=link_to comment.user.nick_name, user_path(comment.user) %></p>
    <p><%= comment.created_at.strftime('%Y/%m/%d') %>
     <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %></p>
  <% end %>
</div>
<div>
  <%= form_with model: [@posts, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
</div>